/* GENERAL STYLE */

* {
  /*    border: ;: 1px solid black;*/
  /*  border: 2px solid yellow;*/
  /*  border: 1px solid white;*/
  color: #1a1a1a;
}

html {
  /*  border: 5px solid pink;*/
  font-size: 16px;
  width: 100%;
  height: 100%;
}

body {
  /*  border: 5px solid orange;*/
  height: inherit;
  background: white;
  /*   For Safari 5.1 to 6.0 */
  /*   For Opera 11.1 to 12.0 */
  /*   For Firefox 3.6 to 15 */
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(gainsboro));
  background: linear-gradient(white, gainsboro);
  /*     Standard syntax (must be last) */
  /*  background-image: url(images/design2_image2.jpg);*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* header */

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 8.1vh;
  padding: 10px;
  margin-top: -1px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: #7b4396;
  /*  background: white;*/
  /*  background: -webkit-linear-gradient(white, gainsboro);*/
  /*   For Safari 5.1 to 6.0 */
  /*  background: -o-linear-gradient(white, gainsboro);*/
  /*   For Opera 11.1 to 12.0 */
  /*  background: -moz-linear-gradient(white, gainsboro);*/
  /*   For Firefox 3.6 to 15 */
  /*  background: linear-gradient(white, gainsboro);*/
  /*     Standard syntax (must be last) */
}

.back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 25%;
}

.aback {
  display: none;
  font-size: 5vw;
  color: white;
  font-family: 'Secular One', sans-serif;
  margin-left: 10%;
}

.aback:hover {
  text-decoration: none;
  color: white;
  font-family: 'Secular One', sans-serif;
}

#title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50%;
  font-size: 5vw;
  color: white;
  font-family: 'Secular One', sans-serif;
  text-align: center;
  /*  text-shadow: 2px 2px 4px gainsboro;*/
}

.settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 25%;
  /*  min-width: 110px;*/
  height: auto;
}

.sett {
  margin-right: 10px;
  padding: 2px;
  width: 25px;
  height: 25px;
}


/* SETTINGS PANEL */

.settingsPanelShadow {
  display: none;
  position: absolute;
  right: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(128, 128, 128, 0.5)
}

.settingsPanel {
  /*  display: none;*/
  position: absolute;
  right: 0;
  width: 90%;
  height: 100%;
  background: white;
}

.userProfile {
  position: absolute;
  top: 0;
  width: 100%;
  height: 30%;
  background: #390055;
}

.userPic {
  position: absolute;
  height: 100px;
  width: 100px;
  right: 8%;
  top: 15%;
  background: green;
  border-radius: 100%;
}

.userName {
  position: absolute;
  right: 8%;
  bottom: 15%;
  font-size: 6vw;
  color: white;
}


/* CONTENT */


/*.content {}*/

#mainBackground {
  display: block;
}

#scores {
  display: none;
}

#teams {
  display: none;
}

#chat {
  display: none;
}

#logo {
  /*    border: 1px solid red;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 45%;
}

.logo {
  max-width: 190px;
  max-height: 190px;
  /*
  width: auto;
  height: 300vh;
*/
  margin: 10px;
  /*  border: 3px solid white;*/
  border-radius: 100%;
  padding: 20px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: #7b4396;
}


/* NEWS */

#news {
  display: none;
  /*  overflow: scroll;*/
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  height: 100%;
  font-weight: 500;
  color: #7b4396;
}

.nav-tabs .nav-link {
  color: #686868;
}

.new, .event {
  display: flex;
  flex-flow: column nowrap;
  /*  border: 1px solid #686868;*/
  border-radius: .25rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 80%;
  height: auto;
  margin: 10px auto;
  font-family: "arial";
  background-color: white;
}

.newsTitle, .eventDate{
  text-align: left;
  font-size: 8vw;
  margin: 10px 20px;
  font-weight: bold;
  font-family: "Droid Sans Mono", sans-serif;
  padding: 10px;
}

.newsDate, .eventTitle {
  font-size: .75rem;
  text-align: right;
  margin: 10px 20px;
  padding: 10px;
  color: #686868;
}

.eventTitle{
  font-size: 1.15rem;
}

.plusIcon,
.minusIcon {
  width: 20px;
  height: 20px;
  margin: 10px 20px;
}

.minusIcon {
  display: none;
}

.newsContent, .eventContent {
  font-size: 5.5vw;
  display: none;
  border-top: 1px solid #686868;
  text-align: justify;
  font-family: 'Inconsolata', monospace;
  margin: 10px 20px;
  padding: 10px;
  color: #686868;
}

/* SCHEDULE */

#schedule {
  display: none;
}

.game{
  width: 80%;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  /*  border: 1px solid #686868;*/
  border-radius: .25rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);  
  margin: 10px auto;
  font-family: "arial";
  background-color: white;
}

.gameDate{
  display: flex;
  flex-flow: row nowrap;
  background: #686868;
  padding: 10px 20px;
}

.gameDay, .gameMonth{
  color: white;
  font-weight: bold;
  font-size: 1rem;
  
}

.gameDay{
  margin: auto 5px;
}

.gameTeams{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: 10px 20px;
}

.team1, .team2, .vs{
  margin: auto 5px;
}

/* CONTACT */

#contact {
  display: none;
  margin: 10px 20px;
  height: 100%;
  /*  overflow: scroll;*/
}

.contactLine {
  font-size: 1rem;
  margin: 15px 0;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 10px auto;
  text-align: center;
  font-family: "arial";
}

.profileImage {
  width: 100%;
}

.name {
  font-size: 2rem;
  margin-top: 10px;
  margin-left: 10px;
  font-weight: bold;
  font-family: "Arial", sans-serif;
}

.jobTitle {
  font-size: 1.25rem;
  color: #686868;
  margin-left: 10px;
  font-family: 'Droid Sans Mono', sans-serif;
}

.phone,
.mail {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
}

.contactIcon {
  font-size: 1.5rem;
  margin-right: 5px;
  width: 24px;
  height: 24px;
  color: #686868;
}

.adress {
  margin: 10px 0;
}

.adressDescription {
  font-weight: bold;
  color: black;
}

.phoneDirection,
.mailDirection,
.direction {
  color: black;
  text-decoration: none;
}

.phoneDirection:hover,
.mailDirection:hover,
.direction:hover {
  color: black;
  text-decoration: none;
}


/* index page menu */

.menu1 {
  display: block;
}

.bigButtons {
  /*  border: 1px solid blue;*/
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  align-self: center;
  width: 100%;
  height: 45%;
  margin: auto;
  overflow: hidden;
  -webkit-box-shadow: 0 -3px 8px 0 rgba(0, 0, 0, 0.2), 0 -5px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 -3px 8px 0 rgba(0, 0, 0, 0.2), 0 -5px 20px 0 rgba(0, 0, 0, 0.19);
  background: #E8E8E8;
  /*   display: block;*/
}

.leftButtons,
.rightButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
  margin: auto;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 30px;
}

.abutton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  width: 100%;
  height: 100%;
  text-decoration: none;
  border: 1px solid #686868;
  /*  background: rgba(255, 255, 255, 0.3);*/
  /*    border-radius: 15px;*/
  /*      background: #0E3F4B;*/
  /*   For browsers that do not support gradients */
  /*      background: -webkit-linear-gradient(#08242b, #0E3F4B);*/
  /*   For Safari 5.1 to 6.0 */
  /*      background: -o-linear-gradient(#08242b, #0E3F4B);*/
  /*   For Opera 11.1 to 12.0 */
  /*      background: -moz-linear-gradient(#08242b, #0E3F4B);*/
  /*   For Firefox 3.6 to 15 */
  /*      background: linear-gradient(#08242b, #0E3F4B);*/
  /*     Standard syntax (must be last) */
}

.icon {
  /*  border: 1px solid blue;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 50%;
  height: auto;
  padding: 2.5px;
}

.menuIcon {
  /*  border: 1px solid red;*/
  width: 100%;
  max-width: 100px;
  min-width: 50px;
  min-height: 50px;
  max-height: 100px;
  height: 100%;
  margin: auto;
  padding: 15px;
}

.btitle {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.buttonTitle {
  color: #686868;
  font-size: 3.25vw;
  font-family: 'Secular One', sans-serif;
  margin: 15px;
  /*  text-shadow: 4px 4px 8px gainsboro;*/
}


/* Index page little menu */

.menu2 {
  display: none;
}

.littleMenuButtons {
  /*  border: 1px solid blue;*/
  position: fixed;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  align-self: center;
  width: 100%;
  height: 8.1vh;
  margin: auto;
  overflow: hidden;
  margin-bottom: -1px;
  -webkit-box-shadow: 0 -3px 8px 0 rgba(0, 0, 0, 0.2), 0 -5px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 -3px 8px 0 rgba(0, 0, 0, 0.2), 0 -5px 20px 0 rgba(0, 0, 0, 0.19);
  background: #E8E8E8;
  /*  display: none;*/
}

.littlebuton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 30px;
}

.alittlebuton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  width: 100%;
  height: 100%;
  text-decoration: none;
  /*  border: 1px solid #686868;*/
}

.littleMenuIcon {
  /*  border: 1px solid red;*/
  width: 53px;
  height: 53px;
  margin: auto;
  padding: 15px;
}
