  /* GENERAL STYLE */
  
  * {
    /*    border: ;: 1px solid black;*/
    /*  border: 2px solid yellow;*/
    /*  border: 1px solid white;*/
    color: #1a1a1a;
  }
  
   :root {
    --main-color: #7b4396;
    --second-color: #686868;
  }
  
  html {
    /*  border: 5px solid pink;*/
    font-size: 16px;
    width: 100%;
    height: 100%;
  }
  
  body {
    /*  border: 5px solid orange;*/
    height: inherit;
    background: white;
    /*   For Safari 5.1 to 6.0 */
    /*   For Opera 11.1 to 12.0 */
    /*   For Firefox 3.6 to 15 */
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(gainsboro));
    background: linear-gradient(white, gainsboro);
    /*     Standard syntax (must be last) */
    /*  background-image: url(images/design2_image2.jpg);*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  /* header */
  
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 8.1vh;
    padding: 10px;
    margin-top: -1px;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: var(--main-color);
    /*  background: white;*/
    /*  background: -webkit-linear-gradient(white, gainsboro);*/
    /*   For Safari 5.1 to 6.0 */
    /*  background: -o-linear-gradient(white, gainsboro);*/
    /*   For Opera 11.1 to 12.0 */
    /*  background: -moz-linear-gradient(white, gainsboro);*/
    /*   For Firefox 3.6 to 15 */
    /*  background: linear-gradient(white, gainsboro);*/
    /*     Standard syntax (must be last) */
  }
  
  .back {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 25%;
  }
  
  .aback {
    display: none;
    font-size: 5vw;
    color: white;
    font-family: 'Secular One', sans-serif;
    margin-left: 10%;
  }
  
  .aback:hover {
    text-decoration: none;
    color: white;
    font-family: 'Secular One', sans-serif;
  }
  
  #title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 50%;
    font-size: 5vw;
    color: white;
    font-family: 'Secular One', sans-serif;
    text-align: center;
    /*  text-shadow: 2px 2px 4px gainsboro;*/
  }
  
  .settings {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 25%;
    /*  min-width: 110px;*/
    height: auto;
  }
  
  .sett {
    margin-right: 10px;
    padding: 2px;
    width: 25px;
    height: 25px;
  }
  /* SETTINGS PANEL */
  
  .settingsPanelBox {
    display: none;
    position: fixed;
    right: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
  }
  
  .shadow {
    position: absolute;
    left: 0;
    width: 10%;
    height: 100%;
    border-right: 2px solid #989898;
    background: rgba(128, 128, 128, 0.5)
    /*  background: red;*/
  }
  
  .settingsPanel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    position: absolute;
    right: 0;
    width: 90%;
    height: 100%;
    background: white;
  }
  
  .userProfile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    width: 100%;
    height: 30%;
    background: #390055;
  }
  
  .userPicDiv {
    display: none;
    margin: 40px 20px 5px 20px;
    height: 100px;
    width: 100px;
    background: var(--second-color);
    border-radius: 100%;
  }
  
  .userPic {
    height: 100px;
    width: 100px;
    border-radius: 100%;
  }
  
  .userName {
    display: none;
    padding: 10px 20px 0px 20px;
    height: 50%;
    font-size: 6vw;
    color: white;
  }
  
  .userMail {
    display: none;
    padding: 0px 20px 10px 20px;
    ;
    height: 20%;
    font-size: 3vw;
    color: darkgrey;
  }
  
  .loginDiv,
  .logoutDiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid var(--second-color);
    padding: 10px 20px;
  }
  
  .loginIcon,
  .logoutIcon {
    height: 25px;
    width: 25px;
    margin: 5px;
  }
  
  #login,
  #logout,
  #login:focus,
  #logout:focus {
    cursor: pointer;
    background: none;
    text-decoration: none;
    border: none;
    font-size: 20px;
    font-family: "Arial", sans-serif;
    color: var(--second-color);
    outline: none;
  }
  
  .loginDiv:hover,
  .logoutDiv:hover {
    background: #ebebeb;
  }
  
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid var(--second-color);
    padding: 5px 20px;
  }
  
  .powered {
    background: none;
    text-decoration: none;
    border: none;
    padding: 5px;
    font-size: .5rem;
    font-family: "Arial", sans-serif;
    color: var(--second-color);
    outline: none;
  }
  /* CONTENT */
  
  .content {
    position: fixed;
    height: 100%;
    width: 100%;
    overflow: scroll;
  }
  
  #mainBackground {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
  }
  
  #logo {
    /*    border: 1px solid red;*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 45%;
  }
  
  .logo {
    max-width: 190px;
    max-height: 190px;
    margin: 10px;
    /*  border: 3px solid white;*/
    border-radius: 100%;
    padding: 20px;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: var(--main-color);
  }
  /* NEWS */
  
  #news {
    display: none;
    margin-bottom: 40%;
    /*  overflow: scroll;*/
  }
  
  .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-weight: 500;
    color: var(--main-color);
  }
  
  .nav-tabs .nav-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    color: var(--second-color);
  }
  
  .nav-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .new,
  .event {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    /*  border: 1px solid var(--second-color);*/
    border-radius: .25rem;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 80%;
    height: auto;
    margin: 10px auto;
    font-family: "arial";
    background-color: white;
  }
  
  .newsTitle,
  .eventDate {
    text-align: left;
    font-size: 8vw;
    margin: 10px 20px;
    font-weight: bold;
    font-family: "Droid Sans Mono", sans-serif;
    padding: 10px;
  }
  
  .newsDate,
  .eventTitle {
    font-size: .75rem;
    text-align: right;
    margin: 10px 20px;
    padding: 10px;
    color: var(--second-color);
  }
  
  .eventTitle {
    font-size: 1.15rem;
  }
  
  .plusIcon,
  .minusIcon {
    width: 20px;
    height: 20px;
    margin: 10px 20px;
  }
  
  .minusIcon {
    display: none;
  }
  
  .newsContent,
  .eventContent {
    font-size: 5.5vw;
    display: none;
    border-top: 1px solid var(--second-color);
    text-align: justify;
    font-family: 'Inconsolata', monospace;
    margin: 10px 20px;
    padding: 10px;
    color: var(--second-color);
  }
  /* SCHEDULE */
  
  #schedule {
    display: none;
    margin-bottom: 40%;
  }
  
  .game {
    width: 80%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    /*  border: 1px solid var(--second-color);*/
    border-radius: .25rem;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 10px auto;
    font-family: "arial";
    background-color: white;
  }
  
  .gameDate {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    background: var(--second-color);
    padding: 10px 20px;
  }
  
  .gameDay,
  .gameMonth {
    color: white;
    font-weight: bold;
    font-size: 1rem;
  }
  
  .gameDay {
    margin: auto 5px;
  }
  
  .gameTeams {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 10px 20px;
  }
  
  .U1,
  .U2,
  .U3,
  .U4,
  .U5,
  .U6,
  .vs {
    margin: auto 5px;
    font-family: 'VT323', monospace;
    font-size: 2rem;
  }
  
  vs. {
    font-weight: bold;
  }
  
  .U1 {
    color: #FFFF8D;
    text-shadow: 2px 2px 4px black, 0 0 25px var(--second-color), 0 0 5px grey;
  }
  
  .U2 {
    color: #80D8FF;
    text-shadow: 2px 2px 4px black, 0 0 25px var(--second-color), 0 0 5px grey;
  }
  
  .U3 {
    color: #A7FFEB;
    text-shadow: 2px 2px 4px black, 0 0 25px var(--second-color), 0 0 5px grey;
  }
  
  .U4 {
    color: #FF8A80;
    text-shadow: 2px 2px 4px black, 0 0 25px var(--second-color), 0 0 5px grey;
  }
  
  .U5 {
    color: #FFD180;
    text-shadow: 2px 2px 4px black, 0 0 25px var(--second-color), 0 0 5px grey;
  }
  
  .U6 {
    color: #CCFF90;
    text-shadow: 2px 2px 4px black, 0 0 25px var(--second-color), 0 0 5px grey;
  }
  
  .gameTime,
  .gameStadium {
    margin: 10px 20px;
  }
  
  .timeIcon,
  .stadiumIcon,
  .placeIcon {
    width: 35px;
    height: 35px;
  }
  
  .timeDiv,
  .stadiumDiv,
  .adressDiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 10px 20px;
  }
  
  .adressDiv {
    border-top: 1px solid var(--second-color);
  }
  
  .directionA,
  .directionA:hover {
    text-decoration: none;
  }
  
  .stadiumStreet,
  .stadiumLocality {
    margin: 10px;
    5px;
    font-weight: bold;
    /*  font-size: 1.5rem;*/
  }
  
  .gameArrow {
    font-size: 1.25rem;
    font-weight: bold;
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  
  .gameArrowReset {
    font-size: 1.25rem;
    font-weight: bold;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  /* TEAMS */
  
  #teams {
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 40%;
  }
  
  .stadiumDiv {
    width: 80%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    /*  border: 1px solid var(--second-color);*/
    border-radius: .25rem;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 25px auto;
    font-family: "arial";
    background-color: white;
  }
  
  .stadiumName {
    width: 100%;
    background: var(--second-color);
    padding: 10px 20px;
  }
  
  .infoStadDiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    width: 100%;
  }
  
  .stadiumFullName {
    width: 100%;
    background: #bebebe;
    padding: 10px 20px;
    color: var (--second-color);
    font-weight: bold;
    font-size: 1rem;
  }
  
  .facility {
    width: 100%;
    background: #e6e6e6;
    padding: 10px 20px;
    color: #b1b1b1;
    font-weight: bold;
    font-size: 1rem;
  }
  
  .stadiumShort {
    color: white;
    font-weight: bold;
    font-size: 1rem;
  }
  
  .stadiumAdressDiv {
    width: 100%;
    padding: 10px 20px;
    color: var (--second-color);
    font-weight: bold;
    font-size: 1rem;
  }
  
  .iframe {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
  }
  /* SCORES */
  
  #scores {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    margin-bottom: 40%;
  }
  
  .gamesPlayed,
  .gamesUpcoming {
    width: 80%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    /*  border: 1px solid var(--second-color);*/
    border-radius: .25rem;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 10px auto;
    font-family: "arial";
    background-color: white;
  }
  
  .playedTitle,
  .upcomingTitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    background: var(--second-color);
    padding: 10px 20px;
  }
  
  .played,
  .upcoming {
    color: white;
    font-weight: bold;
    font-size: 1rem;
  }
  
  .matchPlayed,
  .matchUpcoming {
    /*  border: 1px solid black;*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 10px 20px;
  }
  
  .teamAPlayedDiv,
  .playedScoreDiv,
  .teamBPlayedDiv,
  .teamAUpcomingDiv,
  .upcomingScoreDiv,
  .teamBUpcomingDiv {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .scoreDate {
    width: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .playedScoreDiv,
  .upcomingScoreDiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: var(--main-color);
  }
  
  .score1,
  .dash,
  .score2 {
    padding: 10px 5px;
    color: white;
    font-weight: bold;
    font-size: 1rem;
  }
  
  .scoreDay,
  .scoreMonth,
  .blackDash {
    color: #aaaaaa;
    font-size: .65rem;
    margin: auto 2px;
  }
  /* CHAT */
  
  #chat {
    display: none;
    height: 80%;
    margin-bottom: 100px;
  }
  
  .nolog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    /*  border: 1px solid var(--second-color);*/
    border-radius: .25rem;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 80%;
    height: auto;
    margin: 10% auto;
    font-family: "arial";
    background-color: white;
  }
  
  .loged {
    display: none;
    height: 100%;
  }
  
  .chat {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }
  
  #posts {
    border-radius: .25rem;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 90%;
    height: 100%;
    margin: 10px auto;
    font-family: "arial";
    background-color: white;
  }
  
  .nologText {
    font-size: 2rem;
    text-align: center;
    margin: 10px 20px;
    padding: 10px;
    color: var(--second-color);
  }
  
  .write {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 90%;
    margin: 10px auto;
  }
  
  #postTitle {
    display: none;
  }
  
  #body {
    width: 100%;
    border: none;
    border-radius: .25rem;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 5px 20px;
    height: content;
  }
  
  #body:focus {
    outline: none;
  }
  
  .paperPlane {
    height: 25px;
    width: 25px;
  }
  
  #create-post {
    text-decoration: none;
    border: none;
    outline: none;
    background: none;
  }
  /* CONTACT */
  
  #contact {
    display: none;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 100px;
    height: 100%;
  }
  
  .contactLine {
    font-size: 1rem;
    margin: 15px 0;
  }
  
  .card {
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 10px auto;
    text-align: center;
    font-family: "arial";
  }
  
  .profileImage {
    width: 100%;
  }
  
  .name {
    font-size: 2rem;
    margin-top: 10px;
    margin-left: 10px;
    font-weight: bold;
    font-family: "Arial", sans-serif;
  }
  
  .jobTitle {
    font-size: 1.25rem;
    color: var(--second-color);
    margin-left: 10px;
    font-family: 'Droid Sans Mono', sans-serif;
  }
  
  .phone,
  .mail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 12px;
  }
  
  .contactIcon {
    font-size: 1.5rem;
    margin-right: 5px;
    width: 24px;
    height: 24px;
    color: var(--second-color);
  }
  
  .adress {
    margin: 10px 0;
  }
  
  .adressDescription {
    font-weight: bold;
    color: black;
  }
  
  .phoneDirection,
  .mailDirection,
  .direction {
    color: black;
    text-decoration: none;
  }
  
  .phoneDirection:hover,
  .mailDirection:hover,
  .direction:hover {
    color: black;
    text-decoration: none;
  }
  /* index page menu */
  
  .menu1 {
    display: block;
  }
  
  .bigButtons {
    /*  border: 1px solid blue;*/
    position: absolute;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
    align-self: center;
    width: 100%;
    height: 45%;
    margin: auto;
    overflow: hidden;
    -webkit-box-shadow: 0 -3px 8px 0 rgba(0, 0, 0, 0.2), 0 -5px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 -3px 8px 0 rgba(0, 0, 0, 0.2), 0 -5px 20px 0 rgba(0, 0, 0, 0.19);
    background: #E8E8E8;
    /*   display: block;*/
  }
  
  .leftButtons,
  .rightButtons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    width: 100%;
    height: 100%;
    margin: auto;
  }
  
  .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 30px;
  }
  
  .abutton {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    width: 100%;
    height: 100%;
    text-decoration: none;
    border: 1px solid var(--second-color);
    /*  background: rgba(255, 255, 255, 0.3);*/
    /*    border-radius: 15px;*/
    /*      background: #0E3F4B;*/
    /*   For browsers that do not support gradients */
    /*      background: -webkit-linear-gradient(#08242b, #0E3F4B);*/
    /*   For Safari 5.1 to 6.0 */
    /*      background: -o-linear-gradient(#08242b, #0E3F4B);*/
    /*   For Opera 11.1 to 12.0 */
    /*      background: -moz-linear-gradient(#08242b, #0E3F4B);*/
    /*   For Firefox 3.6 to 15 */
    /*      background: linear-gradient(#08242b, #0E3F4B);*/
    /*     Standard syntax (must be last) */
  }
  
  .abutton:hover {
    text-decoration: none;
  }
  
  .icon {
    /*  border: 1px solid blue;*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 50%;
    height: auto;
    padding: 2.5px;
  }
  
  .menuIcon {
    /*  border: 1px solid red;*/
    width: 100%;
    max-width: 100px;
    min-width: 50px;
    min-height: 50px;
    max-height: 100px;
    height: 100%;
    margin: auto;
    padding: 15px;
  }
  
  .btitle {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .left {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
  }
  
  .right {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-line-pack: start;
    align-content: flex-start;
  }
  
  .buttonTitle {
    color: var(--second-color);
    font-size: 3.25vw;
    font-family: 'Secular One', sans-serif;
    margin: 15px;
    /*  text-shadow: 4px 4px 8px gainsboro;*/
  }
  
  .buttonTitle:focus {
    text-decoration: none;
    outline: none;
  }
  /* Index page little menu */
  
  .menu2 {
    display: none;
  }
  
  .littleMenuButtons {
    /*  border: 1px solid blue;*/
    position: fixed;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
    align-self: center;
    width: 100%;
    height: 8.1vh;
    margin: auto;
    overflow: hidden;
    margin-bottom: -1px;
    -webkit-box-shadow: 0 -3px 8px 0 rgba(0, 0, 0, 0.2), 0 -5px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 -3px 8px 0 rgba(0, 0, 0, 0.2), 0 -5px 20px 0 rgba(0, 0, 0, 0.19);
    background: #E8E8E8;
    /*  display: none;*/
  }
  
  .littlebuton {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 30px;
  }
  
  .alittlebuton {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    width: 100%;
    height: 100%;
    text-decoration: none;
    /*  border: 1px solid var(--second-color);*/
  }
  
  .littleMenuIcon {
    /*  border: 1px solid red;*/
    width: 53px;
    height: 53px;
    margin: auto;
    padding: 15px;
  }
  /* MEDIA QUERIES */
  
  @media (orientation:landscape) {
    #title {
      font-size: 4vw;
    }
    #logo {
      height: 60%;
    }
    .logo {
      max-width: 150px;
      max-height: 150px;
    }
    .bigButtons {
      height: 30%;
    }
    .buttonTitle {
      font-size: 2.5vw
    }
    .btitle {
      width: 70%;
    }
    .menuIcon {
      width: 20px;
      height: 20px;
      padding: 0px;
      min-width: 0px;
      min-height: 0px;
    }
    .userPic {
      height: 60px;
      width: 60px;
    }
    .userPicDiv {
      margin-bottom: -6px;
      height: 60px;
      width: 60px;
    }
    .userName {
      font-size: 3vw;
      height: 25%;
    }
    .userMail {
      font-size: 1.5vw;
      padding: 3px 20px 10px 20px;
      height: 10%;
    }
    .littleMenuButtons {
      height: 14vh;
    }
    .nolog {
      margin: 5% auto;
    }
    .nologText {
      font-size: 1.5rem;
    }
    #scores {
      display: flex;
      flex-flow: row nowrap;
    }
    .gamesPlayed,
    .gamesUpcoming {
      width: 40%;
      height: -webkit-max-content;
      height: -moz-max-content;
      height: max-content;
    }
    .game {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
    }
    .showedInfo {
      width: 100%;
    }
    .timeDiv,
    .stadiumDiv {
      width: 25%;
    }
    .hidedInfo {
      border-left: 1px solid var(--second-color);
      margin-bottom: 10px;
    }
    .adressDiv {
      margin-left: -110%;
    }
    #contact {
      overflow: scroll;
    }
    #teams {
      display: flex;
      justify-content: space-around;
      align-items: baseline;
      flex-flow: row wrap;
      margin-bottom: 40%;
    }
    .stadiumDiv {
      width: 30%;
      height: auto;
      display: flex;
      flex-flow: row wrap;
      border-radius: .25rem;
      -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      margin: 25px 20px;
      font-family: "arial";
      background-color: white;
    }
  }
