/* GENERAL STYLE */

* {
  /*  border: 1px solid black;*/
  /*  border: 1px solid white;*/
  color: #1a1a1a;
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  height: inherit;
  background-color: #1a1a1a;
  background-image: url(images/design2_image2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* HEADER */

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  height: 40px;
  padding: 5px;
  margin-top: -1px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: white;
  background: -webkit-linear-gradient(white, gainsboro);
  /*   For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(white, gainsboro);
  /*   For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(white, gainsboro);
  /*   For Firefox 3.6 to 15 */
  background: linear-gradient(white, gainsboro);
  /*     Standard syntax (must be last) */
}

.back {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 20%;
  min-width: 87px;
}

.aback {
  font-size: 1.8vw;
  color: #1a1a1a;
  font-family: 'Secular One', sans-serif;
  margin-left: 10%;
}

.aback:hover {
  text-decoration: none;
  color: #1a1a1a;
  font-family: 'Secular One', sans-serif;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  min-width: 206px;
  font-size: 3vw;
  color: #1a1a1a;
  font-family: 'Secular One', sans-serif;
  text-align: center;
/*  text-shadow: 2px 2px 4px gainsboro;*/
}

.settings {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  min-width: 42px;
  height: auto;
}

.sett {
  padding: 2px;
  width: 20px;
  height: 20px;
}


/* INDEX PAGE */

.logo {
  display: flex;
  justify-content: center;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#logo {
  margin: 10px;
  border: 3px solid white;
  border-radius: 100%;
  padding: 20px;
}

.teamName {
  font-size: 50px;
  font-family: 'Secular One', sans-serif;
  text-align: center;
}

.arrowdiv {
  display: flex;
  align-content: flex-end;
  justify-content: center;
}

.arrow {
  font-size: 50px;
  color: white;
  transform: rotate(270deg)
}

.menuButtons {
  position: absolute;
  bottom: 0;
  display: flex;
  /*
  width: 100%;
  height: 50%;
*/
  margin: auto;
}

.leftButtons,
.rightButtons {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
  margin: auto;
}

.button {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 30px;
}

.abuton {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 100%;
  text-decoration: none;
  border: 1px solid white;
  background: rgba(255, 255, 255, 0.3);
  /*    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  /*    border-radius: 15px;*/
  /*      background: #0E3F4B;*/
  /*   For browsers that do not support gradients */
  /*      background: -webkit-linear-gradient(#08242b, #0E3F4B);*/
  /*   For Safari 5.1 to 6.0 */
  /*      background: -o-linear-gradient(#08242b, #0E3F4B);*/
  /*   For Opera 11.1 to 12.0 */
  /*      background: -moz-linear-gradient(#08242b, #0E3F4B);*/
  /*   For Firefox 3.6 to 15 */
  /*      background: linear-gradient(#08242b, #0E3F4B);*/
  /*     Standard syntax (must be last) */
}

.icon {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 50%;
  padding: 2.5px;
}

.btitle {
  width: 50%;
  display: flex;
}

.left {
  justify-content: flex-start;
  align-content: flex-start;
}

.right {
  justify-content: flex-end;
  align-content: flex-start;
}

.buttonTitle {
  color: white;
  font-size: 1rem;
  font-family: 'Secular One', sans-serif;
  margin: 15px;
}

.menuIcon {
  width: 120px;
  height: 120px;
  margin: auto;
  padding: 15px;
}


/* NEWS & EVENTS PAGE */

#news {
  display: flex;
}


/*
#info,
#upcoming {
  width: 49%;
}
*/
